<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@if (TempData["successData"] != null)
{

    <h3 style="color:limegreen;">
        @TempData["successData"]
    </h3>
    <script type="text/javascript">
        toastr.success('@TempData["successData"]', 'Success')
    </script>
}
@if (TempData["ErrorData"] != null)
{
    <h3 style="color:brown;">
        @TempData["ErrorData"]
    </h3>
    <script type="text/javascript">
        toastr.error('@TempData["ErrorData"]', 'Success')
    </script>
}